<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545856635336-6a7dmjt06eg0f2j6p501kbq18p68o5d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545856635336-6a7dmjt06eg0f2j6p501kbq18p68o5d3</string>
	<key>API_KEY</key>
	<string>AIzaSyC8w1nL1eCo30TEIZKR3f7WoZ27-WftY9U</string>
	<key>GCM_SENDER_ID</key>
	<string>545856635336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awaittech.quickScanner</string>
	<key>PROJECT_ID</key>
	<string>quick-scanner-1a04b</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-scanner-1a04b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545856635336:ios:ccb0f39a83c4f411e0c0fd</string>
</dict>
</plist>